<div class="custom-navbar text-center">
    <div class="dropdown d-inline-block">
        <button id="dropdown_eurosport" class="dropdown-warning" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eurosport
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown_eurosport">
            <a class="dropdown-item" href="{{ url('eurosport1') }}">Eurosport 1</a>
            <a class="dropdown-item" href="{{ url('eurosport2') }}">Eurosport 2</a>
        </div>
    </div>
    <div class="dropdown d-inline-block">
        <button id="dropdown_bein" class="dropdown-warning" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            beIN
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown_bein">
            <a class="dropdown-item" href="{{ url('bein1') }}">beIN 1</a>
            <a class="dropdown-item" href="{{ url('bein2') }}">beIN 2</a>
            <a class="dropdown-item" href="{{ url('bein3') }}">beIN 3</a>
        </div>
    </div>
    <div class="dropdown d-inline-block">
        <button id="dropdown_canalplus" class="dropdown-warning" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Canal+
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown_canalplus">
            <a class="dropdown-item" href="{{ url('canalsport1') }}">Canal+ Sport</a>
        </div>
    </div>
    <div class="d-inline-block">
        <a class="btn btn-lg btn-warning" href="{{ url('equipe21') }}">Equipe 21</a>
    </div>
</div>
